.list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.history-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
}
.logo-domain-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.timeAccessed {
  color: #475569;
  font-size: 15px;
  margin-right: 10px;
}
.title {
  font-size: 20px;
  color: #475569;
  margin-right: 10px;
}
.logo {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.domain-url {
  font-size: 15px;
  margin-right: 10px;
}
.delete-button {
  border: none;
}
